body {
    margin: 0;
    font-family: 'poppins', sans-serif;
    background-color: #f5f5f5;
}
.wave {
    display: block;
    position: relative;
    height: 40px;
    width: 100%;
    background: #ff6600;
    transform: scale(1, 1);
    box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.75) inset;
  }
  


    .navbar {
            background-color: #0d2e49;
            overflow: hidden;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        .navbar img {
            max-height: 50px;
            padding: 10px;
        }

        .navbar a {
            color: #f2f2f2;
            text-align: center;
            margin: 0 10px;
            padding: 14px 20px;
            text-decoration: none;
            transition: background-color 0.3s ease;
        }

        .navbar a:hover {
            color: #ff6600;
        }

        .navbar a.active {
            background-color: #ff6600;
            color: white;
        }

        /* Hamburger menu */
        .hamburger {
            display: none;
            flex-direction:column;
            cursor: pointer;
        }

        .hamburger .bar {
            width: 25px;
            height: 3px;
            background-color: #f2f2f2;
            margin: 4px 0;
            transition: 0.4s;
        }

        /* Responsive adjustments */
        @media (max-width: 768px) {
            .navbar {
                flex-direction: row;
                align-items: center;
                padding: 10px;
            }
            .menu-text h1{
                font-size: 30px;
                
            }

            .navbar img {
                margin-bottom: 10px;
            }

            .navbar a {
                margin: 5px 0;
            }

            .navbar .hamburger {
                display: flex;
            }

            .navbar .links {
                display: none;
                flex-direction: column;
                width: 100%;
                text-align: center;
            }

            .navbar .links.active {
                display: flex;
            }

            .navbar a {
                padding: 10px 0;
                width: 100%;
            }
        }
.banner {
    position: relative;
    width: 100%;
    max-width: 100%;
}

.banner img {
    width: 100%;
    height: auto;
    display: block;
    margin:auto;
    margin-top:20px;
    
}

.menu-text {
    font-size: 45px;
    color: #0d2e49;
    text-align: center;
    margin: auto;
    margin-top: 15px;
    
}

.main-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    
    margin-bottom: 22px;
}

.menu-item {
    flex: 1 1 30%; 
    text-align: center;
    border-radius: 8px;
    padding: 15px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 300px; 
}

.menu-item:hover {
   
    transform: translateY(-30px);
    box-shadow: 0 16px 16px rgba(0, 0, 0, 0.2);
    
}
 .menu-item:hover img{
        transform: scale(1.1);
    }
.menu-item-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-item img {
    width: 100px; 
    height: 100px;
    margin-bottom: 10px;
}

.menu-item h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #0d2e49;
}

.menu-item p {
    color: #666;
    margin-bottom: 20px;
    text-align: center;
}

.menu-item button {
    padding: 10px 20px;
    background-color: #ff6600;
    color: #fff;
    border: none;
    font-size: large;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.menu-item button:hover {
    background-color: #0d2e49;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .menu-item {
        flex: 1 1 calc(50% - 20px); 
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .menu-item {
        flex: 1 1 100%; 
        max-width: 100%;
    }
}

/* Footer styling */
footer {
    background-color: #0d2e49;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content {
    display: flex;
    align-items: center;
}

.footer-logo img {
    height: 40px; /* Adjust as needed */
}

.footer-text {
    margin-left: 10px;
}

.footer-text p {
    margin: 0;
    font-size: 14px;
}

.footer-links {
    display: flex;
    align-items: left;
    justify-content: space-between;
}

.footer-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}


.footer-social {
    margin-left: 20px;
}

.footer-social a {
    display: inline-block;
    
}

.footer-social img {
    height: 20px;
    padding:20px;
}

.register-page {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}


.register-container {
    flex: 2;
    max-width: 500px;
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    margin: 10px;
}
.register-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -3px 10px 20px rgba(0, 0, 0, 0.2);
    }
    
    .register-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    }

.register-container h1 {
    color: #0d2e49;
    margin-bottom: 30px;
    
}

.register-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group {
    position: relative;
    width: 75%;
    margin-bottom: 25px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    transition: all 0.3s ease;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    background-color: #ffffff;
    padding: 0 5px;
    transition: all 0.3s ease;
    color: #aaa;
}

.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
    top: -10px;
    left: 10px;
    color: #0d2e49;
    font-size: 12px;
}

.register-container form button {
    background-color: #ff6600;
    color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 80%;
    font-size: large;
    transition: background-color 0.3s ease;
}

.register-container form button:hover {
    background-color: #0d2e49;
}

.register-container p {
    margin-top: 20px;
}

.register-container p a {
    color: #ff6600;
    text-decoration: none;
}

.register-container p a:hover {
    color: #0d2e49;
    text-decoration: underline;
}

@media (max-width: 768px) {
    .register-page {
        flex-direction: column;
        padding: 10px;
    }

    .register-image,
    .register-container {
        flex: none;
        margin: auto;
        
        
    }
    .register-image{
        display:none;
    }
}


  
.login-page {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: row;
    padding: 60px 20px; /* Add padding to create space at the top and bottom */
  }
  
  /* Login Container Styles */
  .login-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin: 20px 0; /* Add margin to create space between the container and other elements */
  }
  
  .login-container h1 {
    
    font-size: 35px;
    color: #0d2e49;
  }
  
  .login-container .input-group {
    margin-bottom: 30px;
    position: relative;
    width:100%;
  }
  
  .login-container .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
  }
  .login-container .input-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  .login-container .input-group label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    background-color: #fff;
    padding: 0 5px;
    font-size: 14px;
    color: #aaa;
    transition: all 0.3s;
  }
  
  .login-container .input-group input:focus + label,
  .login-container .input-group input:not(:placeholder-shown) + label {
    top: -10px;
    left: 5px;
    font-size: 12px;
    color: #333;
  }
  .input-group input:focus {
    border-color: #ff6600; /* Change the border color to your desired color */
  }
  
  .input-group input:focus + label {
    color: #ff6600; /* Change the label color to your desired color */
  }
  .login-container .login-submit {
    width: 50%;
    padding: 10px;
    background-color: #ff6600;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: large;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .login-container .login-submit:hover {
    background-color: #0d2e49;
  }
  
  .login-container p {
    margin-top: 20px;
    font-size: 14px;
    color: #333;
  }
  
  .login-container p a {
    color: #0d2e49;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .login-container p a:hover {
    color: #ff6600;
  }
  


.image-container img {
     width: 100%;
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    margin-left: 20px;
    transition: opacity 0.3s ease;
    cursor: pointer;
  }
  .image-container img.second-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  .image-container:hover img.second-image {
    opacity: 1;
  }
  .image-container:hover img.first-image {
    opacity: 0;
  }
