{% extends "market/navbar.html" %}
{% load static %}

{% block title %}
Register your Shop!
{% endblock %}

{% block body %}
<div class="register-page">
  
    <div class="register-container">
        <h1>Sign up and Start selling !</h1>
        <form action="" method="post">
            <div class="input-group">
                <input type="email" name="email" required placeholder="example@email.com" autofocus>
                <label>Official Email of your shop</label>
            </div>
            <div class="input-group">
                <input type="text" name="name" required placeholder="Ex: Walmart">
                <label>Name of your shop</label>
            </div>
            <div class="input-group">
                <input type="text" name="address" required placeholder="Ex:1234 Zahle Boulevard">
                <label>Location of your shop</label>
            </div>
            <div class="input-group">
                <input type="tel" name="phone" required pattern="[0-9]{2}-[0-9]{3} [0-9]{3}" placeholder="00-000 000">
                <label>Phone number of your shop </label>
            </div>
            <div class="input-group">
                <input type="text" name="Tax_id" required pattern="[0-9]{3} [0-9]{3} [0-9]{3}" placeholder="000 000 000">
                <label>Your shop Tax ID</label>
            </div>
            <div class="input-group">
                <input type="password" name="password" required minlength="8">
                <label>Password (minimum 8 characters)</label>
            </div>
            <button type="submit">Register</button>
        </form>
        
        <p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>
    </div>  <div class="register-image">
        <img src="{% static 'market/images/register-image.jpg' %}" alt="Register Image">
    </div>
</div>
{% endblock %}
