{% extends "market/navbar.html" %}
{% load static %}

{% block title %}
Sign in
{% endblock %}


{% block body %}
<div class="login-page">
    <div class="login-container">
        <h1>Login</h1>
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="input-group">
                <input type="email" name="email" required  autofocus>
                <label>Email</label>
            </div>
            <div class="input-group">
                <input type="password" name="password" required  autofocus>
                <label>Password</label>
            </div>
            <div class="input-group">
                
                <select name="user_type" required >
                    <option value="" selected  disabled>-- Select User Type --</option>
                    <option value="client">Client &#x1F6D2;</option>
                    <option value="shop">Shop &#x1F3EA;</option>
                    <option value="delivery">Delivery &#x1F6F5;</option>
                </select>
            </div>
            
            <input type="submit" value="Login" class="login-submit">
        </form>
        <p>Don't have an account? <u><a href="{% url 'register_shop' %}">Register here</a></u></p>
    </div>
    <div class="image-container" style="position: relative;">
        <img src="{% static 'market/images/login-image.png' %}" alt="First Image" class="first-image">
        <img src="{% static 'market/images/login-img.png' %}" alt="Second Image" class="second-image">
      </div>
</div>

{% endblock %}
